{% block content %}
<div style="min-height:101vh;">
	<div>
    	<h1 > Список дел </h1>
    	<form action="" method="post">
        	{% csrf_token %}
        	<div>
            	{% for task in tasks %}
            	<div>
                	<label>
                    	<input type="checkbox" name="checkedbox" value="{{ task.id }}">
                    	<span>{{ task.title }}</span>
                        <span>{{ task.description }}</span>
                        <span>{{ task.status }}</span>
                	    <strong>{{ task.date_created }} -
                    	{{ task.date_end }}</strong>
                	</label>
            	</div>
            	{% endfor %}
        	</div>
    	</form>
	</div>
</div>
{% endblock %}